// Setup vars
[data-vars="frse"] {
  --cube-size: 280px;
  --cube-perspective: calc(var(--cube-size) * 2);
  --translate-z-cube: calc(var(--cube-size) / 2 * -1);
  --translate-z-cube-pos: calc(var(--cube-size) / 2);
}

// Animations needs fix values since css vars don't work
@keyframes spinCube {
  0% {
    transform: translateZ(-280px) rotateX(0deg) rotateY(0deg);
  }
  100% {
    transform: translateZ(-280px) rotateX(720deg) rotateY(720deg);
  }
}

@media (min-width: 360px) {
  [data-vars="frse"] {
    --cube-size: 320px;
  }

  @keyframes spinCube {
    0% {
      transform: translateZ(-320px) rotateX(0deg) rotateY(0deg);
    }
    100% {
      transform: translateZ(-320px) rotateX(720deg) rotateY(720deg);
    }
  }
}

.container {
  width: var(--cube-size);
  height: var(--cube-size);
  perspective: var(--cube-perspective);

  .cube {
    width: var(--cube-size);
    height: var(--cube-size);
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(var(--translate-z-cube));
    transition: transform 2s;
  }

  .cube-face {
    position: absolute;
    width: var(--cube-size);
    height: var(--cube-size);
    border: 1px solid black;
    line-height: var(--cube-size);
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
  }

  .cube.show-front {
    transform: translateZ(var(--translate-z-cube) rotateY(0deg));
  }
  .cube.show-back {
    transform: translateZ(var(--translate-z-cube) rotateY(-180deg));
  }
  .cube.show-top {
    transform: translateZ(var(--translate-z-cube) rotateX(-90deg));
  }
  .cube.show-bottom {
    transform: translateZ(var(--translate-z-cube) rotateX(90deg));
  }
  .cube.show-left {
    transform: translateZ(var(--translate-z-cube) rotateY(90deg));
  }
  .cube.show-right {
    transform: translateZ(var(--translate-z-cube) rotateY(-90deg));
  }

  // Spinning
  .cube.is-spinning {
    animation: spinCube 32s infinite linear;
    animation-fill-mode: both;
  }

  .cube-face-front {
    background: var(--primary-color);
  }
  .cube-face-back {
    background: var(--primary-color);
  }

  .cube-face-top {
    background: var(--primary-color);
  }
  .cube-face-bottom {
    background: var(--primary-color);
  }

  .cube-face-left {
    background: var(--primary-color);
  }
  .cube-face-right {
    background: var(--primary-color);
  }

  .cube-face-front {
    transform: rotateY(0deg) translateZ(var(--translate-z-cube-pos));
  }
  .cube-face-back {
    transform: rotateY(180deg) translateZ(var(--translate-z-cube-pos));
  }
  .cube-face-top {
    transform: rotateX(90deg) translateZ(var(--translate-z-cube-pos));
  }
  .cube-face-bottom {
    transform: rotateX(-90deg) translateZ(var(--translate-z-cube-pos));
  }
  .cube-face-left {
    transform: rotateY(-90deg) translateZ(var(--translate-z-cube-pos));
  }
  .cube-face-right {
    transform: rotateY(90deg) translateZ(var(--translate-z-cube-pos));
  }
}
