// Setup vars
[data-vars="frse"] {
  --cube-size: 280px;
  --cube-perspective: calc(var(--cube-size) * 2);
  --translate-z-cube: calc(var(--cube-size) / 2 * -1);
  --translate-z-cube-pos: calc(var(--cube-size) / 2);
}

// Animations needs fix values since css vars don't work
@keyframes spinCube {
  0% {
    transform: translateZ(-140px) rotateX(0deg) rotateY(0deg);
  }
  100% {
    transform: translateZ(-140px) rotateX(720deg) rotateY(720deg);
  }
}

.cube {
  transform: translateZ(-140px);
}

.cube.show-front {
  transform: translateZ(-140px) rotateY(0deg);
}
.cube.show-back {
  transform: translateZ(-140px) rotateY(-180deg);
}
.cube.show-top {
  transform: translateZ(-140px) rotateX(-90deg);
}
.cube.show-bottom {
  transform: translateZ(-140px) rotateX(90deg);
}
.cube.show-left {
  transform: translateZ(-140px) rotateY(90deg);
}
.cube.show-right {
  transform: translateZ(-140px) rotateY(-90deg);
}

.cube-face-front {
  transform: rotateY(0deg) translateZ(140px);
}
.cube-face-back {
  transform: rotateY(180deg) translateZ(140px);
}
.cube-face-top {
  transform: rotateX(90deg) translateZ(140px);
}
.cube-face-bottom {
  transform: rotateX(-90deg) translateZ(140px);
}
.cube-face-left {
  transform: rotateY(-90deg) translateZ(140px);
}
.cube-face-right {
  transform: rotateY(90deg) translateZ(140px);
}

@media (min-width: 360px) {
  [data-vars="frse"] {
    --cube-size: 320px;
  }

  @keyframes spinCube {
    0% {
      transform: translateZ(-160px) rotateX(0deg) rotateY(0deg);
    }
    100% {
      transform: translateZ(-160px) rotateX(720deg) rotateY(720deg);
    }
  }

  .cube {
    transform: translateZ(-160px);
  }

  .cube.show-front {
    transform: translateZ(-160px) rotateY(0deg);
  }
  .cube.show-back {
    transform: translateZ(-160px) rotateY(-180deg);
  }
  .cube.show-top {
    transform: translateZ(-160px) rotateX(-90deg);
  }
  .cube.show-bottom {
    transform: translateZ(-160px) rotateX(90deg);
  }
  .cube.show-left {
    transform: translateZ(-160px) rotateY(90deg);
  }
  .cube.show-right {
    transform: translateZ(-160px) rotateY(-90deg);
  }

  .cube-face-front {
    transform: rotateY(0deg) translateZ(160px);
  }
  .cube-face-back {
    transform: rotateY(180deg) translateZ(160px);
  }
  .cube-face-top {
    transform: rotateX(90deg) translateZ(160px);
  }
  .cube-face-bottom {
    transform: rotateX(-90deg) translateZ(160px);
  }
  .cube-face-left {
    transform: rotateY(-90deg) translateZ(160px);
  }
  .cube-face-right {
    transform: rotateY(90deg) translateZ(160px);
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

.container {
  width: var(--cube-size);
  height: var(--cube-size);
  perspective: var(--cube-perspective);

  .cube {
    width: var(--cube-size);
    height: var(--cube-size);
    position: relative;
    transform-style: preserve-3d;
    transition: transform 2s;
  }

  .cube-face {
    position: absolute;
    width: var(--cube-size);
    height: var(--cube-size);
    border: 1px solid black;
    line-height: var(--cube-size);
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
  }

  // Spinning
  .cube.is-spinning {
    animation: spinCube 32s infinite linear;
    animation-fill-mode: both;
  }

  .cube-face-front {
    background: var(--primary-color);
  }
  .cube-face-back {
    background: var(--primary-color);
  }

  .cube-face-top {
    background: var(--primary-color);
  }
  .cube-face-bottom {
    background: var(--primary-color);
  }

  .cube-face-left {
    background: var(--primary-color);
  }
  .cube-face-right {
    background: var(--primary-color);
  }
}
