//------------------------------------------
// Sizes < 320 - 360

// Setup vars
[data-vars="frse"] {
  --cube-size: 240px;
  --cube-perspective: calc(var(--cube-size) * 2);
  --translate-z-cube: calc(var(--cube-size) / 2 * -1);
  --translate-z-cube-pos: calc(var(--cube-size) / 2);
}

// Animations needs fix values since css vars don't work
@keyframes spinCube {
  0% {
    transform: translateZ(-120px) rotateX(0deg) rotateY(0deg);
  }
  100% {
    transform: translateZ(-120px) rotateX(720deg) rotateY(720deg);
  }
}

.cube {
  transform: translateZ(-120px);
}

.cube.show-front {
  transform: translateZ(-120px) rotateY(0deg);
}
.cube.show-back {
  transform: translateZ(-120px) rotateY(-180deg);
}
.cube.show-top {
  transform: translateZ(-120px) rotateX(-90deg);
}
.cube.show-bottom {
  transform: translateZ(-120px) rotateX(90deg);
}
.cube.show-left {
  transform: translateZ(-120px) rotateY(90deg);
}
.cube.show-right {
  transform: translateZ(-140px) rotateY(-90deg);
}

.cube-face-front {
  transform: rotateY(0deg) translateZ(120px);
}
.cube-face-back {
  transform: rotateY(180deg) translateZ(120px);
}
.cube-face-top {
  transform: rotateX(90deg) translateZ(120px);
}
.cube-face-bottom {
  transform: rotateX(-90deg) translateZ(120px);
}
.cube-face-left {
  transform: rotateY(-90deg) translateZ(120px);
}
.cube-face-right {
  transform: rotateY(90deg) translateZ(120px);
}

@media (min-width: 360px) {
  [data-vars="frse"] {
    --cube-size: 280px;
  }

  @keyframes spinCube {
    0% {
      transform: translateZ(-140px) rotateX(0deg) rotateY(0deg);
    }
    100% {
      transform: translateZ(-140px) rotateX(720deg) rotateY(720deg);
    }
  }

  .cube {
    transform: translateZ(-140px);
  }

  .cube.show-front {
    transform: translateZ(-140px) rotateY(0deg);
  }
  .cube.show-back {
    transform: translateZ(-140px) rotateY(-180deg);
  }
  .cube.show-top {
    transform: translateZ(-140px) rotateX(-90deg);
  }
  .cube.show-bottom {
    transform: translateZ(-140px) rotateX(90deg);
  }
  .cube.show-left {
    transform: translateZ(-140px) rotateY(90deg);
  }
  .cube.show-right {
    transform: translateZ(-140px) rotateY(-90deg);
  }

  .cube-face-front {
    transform: rotateY(0deg) translateZ(140px);
  }
  .cube-face-back {
    transform: rotateY(180deg) translateZ(140px);
  }
  .cube-face-top {
    transform: rotateX(90deg) translateZ(140px);
  }
  .cube-face-bottom {
    transform: rotateX(-90deg) translateZ(140px);
  }
  .cube-face-left {
    transform: rotateY(-90deg) translateZ(140px);
  }
  .cube-face-right {
    transform: rotateY(90deg) translateZ(140px);
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

.container {
  width: var(--cube-size);
  height: var(--cube-size);
  perspective: var(--cube-perspective);
  position: relative;

  .cube {
    width: var(--cube-size);
    height: var(--cube-size);
    position: relative;
    transform-style: preserve-3d;
    transition: transform 2s;
  }

  .cube-face {
    position: absolute;
    width: var(--cube-size);
    height: var(--cube-size);
  }

  // Spinning
  .cube.is-spinning {
    animation: spinCube 32s infinite linear;
    animation-fill-mode: both;
  }

  .cube-face-front {
    background: var(--primary-color);
  }
  .cube-face-back {
    background: var(--primary-color);
  }

  .cube-face-top {
    background: var(--primary-color);
  }
  .cube-face-bottom {
    background: var(--primary-color);
  }

  .cube-face-left {
    background: var(--primary-color);
  }
  .cube-face-right {
    background: var(--primary-color);
  }
}

.arrow {
  position: absolute;
  font-size: 28px;
  border: none;
  outline: none;
  border-radius: 50%;
  background-color: transparent;
  color: var(--bg-inverted);
  transition: all ease-in 0.4s;
  opacity: 0;

  &.is-visible {
    opacity: 1;
  }

  &.left-arrow {
    top: calc(50% - 17px);
    left: -36px;
  }
  &.top-arrow {
    top: -36px;
    left: calc(50% - 17px);
  }
  &.bottom-arrow {
    bottom: -36px;
    left: calc(50% - 17px);
  }
  &.right-arrow {
    top: calc(50% - 17px);
    right: -36px;
  }
}
