.frse-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15vh;
  height: var(--main-cube);
  background-color: var(--bg-main);

  // Cube container
  &-cube {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
