.frse-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: var(--main-cube);

  // Cube container
  &-cube {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
