.frse-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  // Cube container
  &-cube {
    width: 100%;
    height: var(--main-cube);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-actions {
    width: 100%;
    height: var(--main-actions);
    background-color: green;
  }
}
