.nav {
  position: absolute;
  left: 50%;
  filter: url(#shadow-goo);
}
svg.nav-filter {
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
}

.nav-item {
  bottom: 40px !important;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  margin-top: -25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: white;
}

.nav-item:hover {
  background-color: var(--primary-color-dark);
}

.nav-item:hover i {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  transform: rotate(360deg);
}

.toggle {
  width: 80px;
  height: 80px;
  margin-left: -40px;
  margin-top: -40px;
  z-index: 2;
}

.toggle:hover {
  -webkit-animation: bounce 1s cubic-bezier(0, 0.42, 0.42, 1);
  animation: bounce 1s cubic-bezier(0, 0.42, 0.42, 1);
}

.nav-item,
.toggle,
.wobble {
  position: absolute;
  bottom: 38px;
  background-color: var(--primary-color);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.8s cubic-bezier(0, 0.42, 0.42, 1);
}

.nav-item i {
  line-height: 50px;
}

.toggle i {
  line-height: 80px;
}
/* Wobble effect & Slideout nav */

// .wobble {
//   width: 70px;
//   height: 70px;
//   margin-left: -35px;
//   margin-top: -35px;
// }
/* Slide-out */

nav .slide-out:nth-child(1) {
  -webkit-transform: translate(90px, -20px) scale(1.2);
  transform: translate(90px, -20px) scale(1.2);
}

nav .slide-out:nth-child(2) {
  -webkit-transform: translate(160px, -40px);
  transform: translate(160px, -40px);
}

nav .slide-out:nth-child(3) {
  -webkit-transform: translate(-90px, -20px) scale(1.2);
  transform: translate(-90px, -20px) scale(1.2);
}

nav .slide-out:nth-child(4) {
  transform: translate(-160px, -40px);
}
/* Bounce */

@-webkit-keyframes bounce {
  50% {
    -webkit-transform: scale(1.1);
  }
  30% {
    -webkit-transform: scale(0.95);
  }
}

@keyframes bounce {
  50% {
    transform: scale(1.1);
  }
  30% {
    transform: scale(0.95);
  }
}
/* Wobble effect */

.ripple:nth-child(1) {
  -webkit-animation: wobble-1 1s ease-in-out;
  animation: wobble-1 1s ease-in-out;
}

.ripple:nth-child(2) {
  -webkit-animation: wobble-2 1s linear;
  animation: wobble-2 1s linear;
}
/* First blob */

@-webkit-keyframes wobble-1 {
  10% {
    -webkit-transform: translate(-1px, 2px) scale(1.2);
  }
  40% {
    -webkit-transform: translate(2px, -2px) scale(1.2);
  }
  100% {
    -webkit-transform: translate(0px, 0px) scale(1);
  }
}
/* Second blob */

@-webkit-keyframes wobble-2 {
  20% {
    -webkit-transform: translate(-3px, 3px) scale(1.08);
  }
  100% {
    -webkit-transform: translate(0px, 0px) scale(1);
  }
}

@keyframes wobble-1 {
  10% {
    transform: translate(-1px, 2px) scale(1.2);
  }
  40% {
    transform: translate(2px, -2px) scale(1.2);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}
/* Second blob */

@keyframes wobble-2 {
  20% {
    transform: translate(-3px, 3px) scale(1.08);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}
/* Hamburger icon & Animation */

.hamburger {
  width: 25px;
  height: 3px;
  background: white;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12.5px;
  margin-top: -1.5px;
  -webkit-transition: -webkit-transform 200ms;
  transition: transform 200ms;
}

.hamburger-1 {
  -webkit-transform: translate3d(0, -8px, 0);
  transform: translate3d(0, -8px, 0);
}

.hamburger-2 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.hamburger-3 {
  -webkit-transform: translate3d(0, 8px, 0);
  transform: translate3d(0, 8px, 0);
}
