[data-vars="frse"] {
  --primary-color: #e14571;
  --primary-color-light: #e4577f;
  --primary-color-dark: #ca3e65;
}

[data-theme="light"] {
  // Generic
  --light-txt: #fcfcfc;
  --dark-txt: #121212;

  // Header
  --bg-color: #fcfcfc;
  --txt-color: #121212;

  // Main
  --bg-main: #2e2e2e;
  --bg-inverted: #fcfcfc;
}

[data-theme="dark"] {
  // Generic
  --light-txt: #fcfcfc;
  --dark-txt: #121212;

  // Header, Footer
  --bg-color: #2e2e2e;
  --txt-color: #fcfcfc;

  // Main
  --bg-main: #fcfcfc;
  --bg-inverted: #2e2e2e;
}
