[data-vars="frse"] {
  // Header
  --header-h: 80px;
  // Footer
  --footer-h: 80px;
  // Main Actions container
  --main-actions: 80px;
  // Main Cube container
  --main-cube: calc(
    100vh - var(--header-h) - var(--footer-h) - var(--main-actions)
  );
}

/**
* This method is used to convert px to rem
*/
@function toRem($base) {
  $result: $base * 0.0625rem;
  @return $result;
}
