// Front
.front-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--txt-color);
  background-color: var(--bg-inverted);

  .title-row {
    position: absolute;
    top: 12px;
    font-weight: bold;
  }
  .profile-picture {
    transform: scale(0.8);
    box-shadow: 0px 0px 4px 2px var(--txt-color);
  }
  .bottom-row {
    position: absolute;
    bottom: 12px;
    font-weight: bold;
  }
}

.front-content,
.back-content,
.top-content,
.bottom-content,
.left-content,
.right-content {
  height: inherit;
  width: 100%;
  font-size: 18px;
}

// Top
.top-content {
  background-color: var(--gray);

  padding: 12px 8px;
  color: var(--txt-color);

  a {
    text-decoration: none;
  }
  img {
    height: 56px;
  }

  .top-row {
    margin-bottom: 2vh;
    text-align: center;
  }
  .wbi {
    display: flex;
    flex-direction: column;
    padding-bottom: 1vh;

    .content {
      display: flex;
      align-items: center;

      .title {
        font-size: 14px;
        margin-left: 12px;

        a {
          color: var(--primary-color);
          margin-bottom: 0.4vh;
        }
      }
    }
    .stack {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1.2vh;

      svg {
        font-size: 24px;
        margin-right: 8px;
      }
    }
  }
  .noragali {
    display: flex;
    flex-direction: column;
    padding-top: 1vh;

    .content {
      display: flex;
      align-items: center;

      .title {
        font-size: 14px;
        margin-left: 12px;

        a {
          color: var(--primary-color);
          margin-bottom: 0.4vh;
        }
      }
    }
    .stack {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1.2vh;

      svg {
        font-size: 24px;
        margin-right: 8px;
      }
    }
  }
}

// Back
.back-content {
  background-color: var(--bg-inverted);
  color: var(--txt-color);
  padding: 12px 8px;

  a {
    text-decoration: none;
    color: var(--txt-color);
  }

  .top-row {
    margin-bottom: 2vh;
    text-align: center;
  }
  .contacts-row {
    display: flex;
    justify-content: center;
    align-items: center;

    &:not(:last-child) {
      margin: 4vh 0;
    }

    .entry {
      &:not(:last-child) {
        margin-right: 12px;
      }

      svg {
        padding: 8px;
        font-size: 32px;
        border: 2px solid var(--primary-color);
        border-radius: 50%;
        background-color: var(--bg-main);
        color: var(--primary-color);
      }
    }
  }
}

// Bottom
.bottom-content {
  background-color: var(--gray);
  padding: 12px 8px;
  color: var(--txt-color);

  a {
    text-decoration: none;
  }
  img {
    height: 56px;
  }

  .top-row {
    margin-bottom: 2vh;
    text-align: center;
  }
  .rsc {
    display: flex;
    flex-direction: column;
    padding-bottom: 1vh;

    .content {
      display: flex;
      align-items: center;

      .title {
        font-size: 14px;
        margin-left: 12px;
        color: var(--primary-color);
        margin-bottom: 0.4vh;
      }
    }
    .stack {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1.2vh;

      svg {
        font-size: 24px;
        margin-right: 8px;
      }
    }
  }
  .shaggy {
    display: flex;
    flex-direction: column;
    padding-top: 1vh;

    .content {
      display: flex;
      align-items: center;

      .title {
        font-size: 14px;
        margin-left: 12px;
        color: var(--primary-color);
        margin-bottom: 0.4vh;
      }
    }
    .stack {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1.2vh;

      svg {
        font-size: 24px;
        margin-right: 8px;
      }
    }
  }
}

// Left
.left-content {
  background-color: var(--primary-color);
  background-color: var(--primary-color);
  padding: 12px 8px;
  color: var(--txt-color);

  .top-row {
    margin-bottom: 2vh;
    text-align: center;
  }
  .timeline {
    height: 80%;

    .first,
    .secondary,
    .third,
    .fourth {
      display: flex;
      align-items: center;

      > div,
      > svg {
        margin-right: 8px;
      }

      .descr {
        > span {
          font-weight: bold;
        }
        .Typewriter {
          font-size: 12px;
        }
      }
    }
    .first,
    .secondary,
    .third {
      margin-bottom: 2vh;
    }
  }

  .flag-italy,
  .flag-austrian {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 2px solid var(--txt-color);
  }
  svg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }

  .flag-italy {
    display: flex;
    overflow: hidden;

    .green,
    .white,
    .red {
      height: 100%;
      width: calc(40px / 3);
    }
    .green {
      background-color: #008000;
    }
    .white {
      background-color: #fff;
    }
    .red {
      background-color: #e50000;
    }
  }

  .flag-austrian {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .red-first,
    .white,
    .red-second {
      height: calc(40px / 3);
      width: 100%;
    }
    .red-first,
    .red-second {
      background-color: #e50000;
    }
    .white {
      background-color: #fff;
    }
  }
}

// Right
.right-content {
  background-color: var(--primary-color);
  padding: 12px 8px;
  color: var(--txt-color);

  a {
    text-decoration: none;
  }

  .top-row {
    margin-bottom: 2vh;
    text-align: center;
  }

  .entry,
  .entry-other {
    display: flex;
    align-items: center;

    span {
      flex-grow: 1;
    }

    svg {
      padding: 8px;
      font-size: 24px;
      border-radius: 50%;
    }
  }
  .entry {
    .star-container {
      svg {
        padding: 4px;
        font-size: 16px;
      }
    }
  }
  .entry-other {
    margin-top: 1vh;
  }
}
