.frse-header {
  height: var(--header-h);
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--txt-color);
  background-color: var(--bg-color-header);

  font-size: 60px;
  font-family: "Allison", cursive;

  box-shadow: 0px 0px 8px 4px #cccccc;
}
