.frse-footer {
  position: relative;
  height: var(--footer-h);
  padding: 4px 0;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--bg-color);
  color: var(--txt-color);
  box-shadow: 0px 0px 8px 4px var(--box-shadow-light);

  font-size: clamp(10px, 3.6vw, 16px);

  .github-container {
    .github {
      margin-left: 8px;
      color: var(--primary-color);
      text-decoration: none;
    }
  }
}
